/* importaciones de estilos */
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(media.css);

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* flaticons */
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Faustina", "Manrope", "Merriweather", sans-serif;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: #a9a9a9;
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #474747;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    color: #474747;
    margin-bottom: 10px;
    font-family: "Faustina", sans-serif;
}

h3 {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
}

h4 {
    font-size: 30px;
    color: #474747;
    margin: 0px 0px 25px 25px;
}

p {
    font-size: 15px;
    color: #474747;
    margin: 0px 0px 0px 0px;
}

a{
    text-decoration: none;
    font: 16px;
    font-weight: 600;
    color: #000000;
    transition: 0.5 ease;
}

a:hover{
    color: #155f1bf6;
    text-shadow: #000000 1px 1px;
}


