/* importaciones de estilos */
@import url(header.css);
@import url(main.css);
@import url(footer.css);

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Faustina", "Manrope", "Merriweather", sans-serif;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: #a9a9a9;
    width: 100%;
}

h2{
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: "Manrope", sans-serif;
}

p{
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: "Faustina", sans-serif;
}

a{
    text-decoration: none;
    font: 16px;
    font-weight: 600;
    color: #000000;
    transition: 0.5 ease;
}

a:hover{
    color: #155f1bf6;
    text-shadow: #000000 1px 1px;
}


