/* Main */

.secNosotros{
    background-image: url('../img/nosotros.jpg');
    background-size: cover;
    background-position: top center;
    height: 95vh;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & .secNosotrosContent{
        width: 50%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        color: darkgoldenrod;
    }
}

.secProductos{
    background-image: url('../img/productos.jpg');
    background-size: cover;
    background-position: top center;
    text-align: center;

    .secProductosContent{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;

        .producto{
            width: 23%;
            min-width: 250px;
            margin: 15px 0;
            padding: 10px 15px;
            border-radius: 25px;
            border: 1px solid #000000;
            cursor: pointer;

            & img{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}

.secServicios{
    background-image: url('../img/servicios.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    background-color: #e0e0e0;
    text-align: center;
    width: 100%;
}

.secContacto{
    background-image: url('../img/contacto.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    background-color: #e0e0e0;
    text-align: center;
    width: 100%;
}
