/* Main */

.secNosotros{
    background-image: url('../img/nosotros.jpg');
    background-size: cover;
    background-position: top center;
    height: 95vh;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & .secNosotrosContent{
        width: 60%;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        color: #474747;
    }
}

.secProductos{
    background-image: url('../img/productos.jpg');
    background-size: cover;
    background-position: top center;
    text-align: center;

    .secProductosContent{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;

        .producto{
            width: 23%;
            min-width: 250px;
            margin: 15px 0;
            padding: 10px 15px;
            border-radius: 25px;
            border: 1px solid #474747;
            cursor: pointer;

            & img{
                width: 100%;
                border-radius: 20px;
            }

            & .carrito{
                font-size: 20px;
                color: #474747;
                
                &:hover{
                    color: #252525;
                }
            }
        }
    }
}

.secContacto{
    background-image: url('../img/contacto.jpg');
    background-size: cover;
    background-position: top center;
    flex-direction: column;
    background-color: #e0e0e0;
    height: 95vh;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;

    & .secContactoHeader{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .secContactoContent{
        width: 65%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        color: #474747;

        & label{
            font-size: 25px;
            margin-bottom: 15px;
        }

        & input, & textarea{
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #474747;
            font-size: 25px;
        }

        & input[type="submit"]{
            padding: 15px 20px;
            background-color: #474747;
            color: white;
            border: 1px solid #474747;
            border-radius: 5px;
            cursor: pointer;
            font-size: 25px;

            & :hover{
                background-color: #252525;
                color:#ffffff;
            }
        }
    }
}

.carrito {
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;

        img {
            width: 70px;
            border-radius: 5px;
        }

        td:nth-child(1) {
            width: 100px;
            text-align: center;
        }

        td:nth-child(2), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(3) {
            width: 250px;
            text-align: center;
        }
        
        td:nth-child(5) input {
            width: 50px;
            padding: 5px 10px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;

            td {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;
                padding: 18px 0;
            }
        }

        tbody tr td {
            padding-top: 15px;
            font-size: 13px;
        }
    }
}

.btnBorrar {
    background-color: transparent;
    border: 1px solid #af0000;
    color: #af0000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btnBorrar:hover {
    background-color: #ff0000;
    color: #000;
}

.bagTotales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

#subtotal {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 30px;

    h3 {
        padding-bottom: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        
        td {
            padding: 10px 0;
            border: 1px solid #e2e9e1;
            padding-left: 10px;
        }
        
        tr:last-child td {
            font-weight: bold;
        }
    }

    button.normal {
        background-color: #088178;
        color: #fff;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        width: 100%;
        font-size: 1rem;
    }
}

.cntFrmContacto.error{
    input, textarea {
        border-color: #ff0000;
    }

    .txtErrorFrm {
        display: block;
    }
}

.cntFrmContacto .txtErrorFrm {
    color: #ff0000;
    font-size: 0.8em;
    margin-top: 5px;
    display: none;
}

.mensaje-error-dinamico {
    color: #d9534f;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

.campo-con-error {
    border: 1px solid #d9534f !important;
    /* Borde rojo */
}