@media (max-width:900px) {
    .secNosotros {
        height: 85vh;
        padding: 0 60px;

        & .secNosotrosContent {
            width: 70%;

            & h1 {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 15px;
            }
            & h2 {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 7px;
        }
            & h3 {
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 7px;
            }
        }
    }
    

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        
        &li {
            margin-bottom: 25px;
        }
    }

    .secProductos {

        & h4 {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 7px;
        }
    }

    .secContacto{

        & .secContactoHeader{

            & h3 {
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 7px;
            }

            & h4 {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 7px;
            }

        }

        & .secContactoContent{
            width: 65%;

            & label{
                font-size: 20px;
                margin-bottom: 13px;
            }

            & input, & textarea{
                padding: 15px;
                font-size: 20px;
            }

            & input[type="submit"]{
                padding: 15px 20px;
                font-size: 20px;
            }
        }
    }

    .bagTotales {
        flex-direction: column;
    }

    #subtotal {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width:600px) {
    
    .secNosotros {
        height: 60vh;
        padding: 0 20px;
        background-position: 50% center;

        & .secNosotrosContent {
            width: 70%;
            align-items: flex-start;

            & h1 {
                font-size: 33px;
                line-height: 40px;
                margin-bottom: 10px;
            }
            & h2 {
                font-size: 25px;
                line-height: 33px;
                margin-bottom: 5px;
        }
            & h3 {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 5px;
            }
        }
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        
        &li {
            margin-bottom: 25px;
        }
    }

    .secProductos {

        & h4 {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 5px;
        }
        
        & .secProductosContent {
            flex-direction: column;
            align-items: center;

            & .producto {
                width: 90%;
                margin: 15px 0;
            }
        }
    }

    .secContacto{

        & .secContactoHeader{

            & h3 {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 5px;
            }

            & h4 {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 5px;
            }

        }

        & .secContactoContent{
            width: 70%;

            & label{
                font-size: 15px;
                margin-bottom: 10px;
            }

            & input, & textarea{
                padding: 15px;
                font-size: 15px;
            }

            & input[type="submit"]{
                padding: 15px 20px;
                font-size: 15px;
            }
        }
    }

    .carrito{
        padding: 20px;
        
        table{
            td:nth-child(1) {
                width: 60px;
            }

            td:nth-child(2), td:nth-child(4), td:nth-child(6) {
                width: 80px;
            }

            td:nth-child(3) {
                width: 150px;
            }
            td:nth-child(5) {
                width: 70px;
            }

            td:nth-child(5) input {
                width: 40px;
            }
        }
    }
}