/*--Variables--*/
:root{
    --size-text: 16px;
}

*{
    font-size: var(--size-text);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image: url("../images/musical-background-2842924_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    width: 95%;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Script', Arial, sans-serif;
}

header, footer{
    display: inline-table;
}

.navBar{
    background-color: #911717;
    padding-top: 10px;
    padding-bottom: 10px;
}

table{
    border-style: none;
}

td{
    width: 200px;
    height: 100px;
    border: none;
}

p{
    color: chocolate;
}

p:hover{
    color: #911717;
    font-size: calc(var(--size-text) + 2px);
}

iframe{
    width: 95%;
    height: 75%;
    border: none;
    text-align: center;
}